[submodule "poller"]
	path = poller
	url = https://github.com/npat-efault/poller
[submodule "internal/src/github.com/awslabs/aws-sdk-go"]
	path = internal/src/github.com/awslabs/aws-sdk-go
	url = https://github.com/awslabs/aws-sdk-go
